*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #255aa5;
    height: 50px;
}

.navigations{
    padding-top: 9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.navigation a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin-left: 15px;
}

.navigation{
    display: inline-block;
}

h5{
    display: inline-block;
}

h1, h2, h3, h4, h5, p, a{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1d1d1d;
}

.container{
    max-width: 900px;
    margin: auto;
}

img{
    width: 200px;
}

.right-part{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.row{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

body{
    background-color:antiquewhite
}

.Trafalgar{
    width: 30px;
    margin-right: 15px;
}

.block{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.block a{
    color: #458FF6;
}

.blant{
    width: 45px;
}

h1{
    color: #255aa5;
    border-left: #255aa5 5px solid;
    padding-left: 8px;
}

.right-part p{
    border-left: #255aa5 5px solid;
    padding-left: 8px;
    font-weight: 300;
}

.right-part a{
    text-decoration: none;
    border-left: #255aa5 5px solid;
}

h2{
    margin: 50px 0 15px;
    color: #255aa5;
}

h3{
    padding-left: 13px;
    margin-top: 30px;
    color: #255aa5;
    text-transform: uppercase;
}

.logo{
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
}

.chooses{
    margin-top: 25px;
    background-color: #255aa5;
    height: 150px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center; 
}

.block{
    background-color: antiquewhite;
    width: 29%;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 28px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #255aa5;
    transition: 1s;
}

.block:hover{
    width: 35%;
    transition: 0.5s;
}

.mail::before{
    content: url(email.png);
    padding: 0 8px;
}

.tel::before{
    content: url(smartphone.png);
    padding: 0 8px;
}

.inst::before{
    content: url(instagram.png);
    padding: 0 8px;
}

.port{
    font-size: 20px;
}

.box{
    width: 30%;
    height: 250px;
    background-color: #255aa5;
}

.boxes{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs{
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
}




.tabs button{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 16px;
    transition: 0.3s;
    color: white;
}


.tabs button:hover{
    background-color: #458FF6;
}

.tabs button.active{
    background-color: #458FF6;
}




.tabcontent{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}



.tabcontent.active{
    display: block;
}

.open{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 8px 30px;
    margin-top: 15px;
    border: 1px solid #255aa5;
    background-color: #255aa5;
    color: white;
    transition: 0.3s;
    text-decoration: none;    
    display: inline-block;
}

.open:hover{
    transition: 0.3s;
    border: 1px solid #458FF6;
    background-color: #458FF6;
}